.example-full-width {
    width: 50%;
  }
  .example-full-width .button {
    float: left;
  }
  @media screen and (max-width: 600px) {
    .example-full-width {
      width: 100%;
    }
    .example-full-width .button {
      float: left;
    }
  }
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  