.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.container {
  text-align: center;
  padding: 1rem 1rem 1rem 16rem;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }
}
